<!DOCTYPE HTML>
<!-- berikut merupakan tampilan register-->
<html>
    <head>
        <title>Halaman Edit Profile</title>
        <link rel="stylesheet" type="text/css" href="../static/e_profile.css"
    </head>
   
    <body>
        <div class="container">
          <h1>Edit Profile</h1>
			<form action="" method="post">
				<input type="text" placeholder="Username" name="uname">
				<input type="password" placeholder="Password" name="pass">
				<input type="password" placeholder="Re-Password" name="repass">
				<button>Submit</button><button class="cancel" style="background: red;">Cancel</button>
			</form>
			{% if error %}
			<p class="error" style="text-align:center; color:red;"><strong>Error:</strong> {{ error }}</p>
			{% endif %}
        </div>     
    </body>
</html>