<!DOCTYPE HTML>
<!-- berikut merupakan tampilan login-->
<html>
    <head>
        <title>Halaman Login</title>
        <link rel="stylesheet" type="text/css" href="../static/login.css"
    </head>
   
    <body>
        <div class="container">
          <h1>Login</h1>
            
			<form action="" method="post">
				<input type="text" placeholder="Username" name="username" value="{{request.form.username }}">
				<input type="password" placeholder="Password" name="password" value="{{request.form.password }}">
				<button>Log in</button>
				<h4>Make a new account, <a href="register">Here</a></h4> 
			</form>
			{% if error %}
			<p style="color: white;" class="error"><strong>Error:</strong> {{ error }}
			{% endif %}
        </div>     
    </body>
</html>