<!DOCTYPE html>
<!-- https://dev.to/codingnepal/todo-list-app-using-html-css-javascript-5e7p -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../static/profile.css">
	 <script src="https://use.fontawesome.com/2342bcf2c5.js"></script>
	 <title>Halaman Profile</title>
</head>
<!--tampilan home-->
<body>
  
  <div class="wrapper">
    <header>
    	<img src="../static/upload/{{imgName}}" class="ikon">
    </header>

	<div class="wrapper2">
		<div class="content">
			<h3>Hello,&nbsp;&nbsp;{{uname_from_flask}} 	</h3>
		</div>	
	 </div>
    
    
    <div class="footer">
    	<!-- button edit uname dan password -->
    	<div class="wrapper2 tooltip">
    		<a href="/edit_profile">
    		<img src="../static/images/ikon_eprofile.png" class="ikonbtn">
    		</a>
    		<span class="tooltiptext"><small>Edit Profile Data</small></span>
    	</div>
    	<!-- button edit profile picture -->
    	<div class="wrapper2 tooltip">	
			<a href="/upload">
	    		<img src="../static/images/ikon_edit.png" class="ikonbtn">
	    	</a>
    		<span class="tooltiptext"><small>Edit Profile Picture</small></span>	    	
    	</div>
    	<!-- button untuk kembali kehalaman sebelumnya -->
    	<div class="wrapper2 tooltip">
    		<a href="/home">
    			<img src="../static/images/ikon_back.png" class="ikonbtn">
    		</a>
    		<span class="tooltiptext"><small>Back to Menu</small></span>	    	
    	</div>
    </div>
  </div>


</body>
</html>